/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Knewave|Londrina+Sketch|Love+Ya+Like+A+Sister|Marcellus+SC");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch|Comfortaa|Homemade+Apple|K2D|Kalam|Mali");
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Quicksand|Ranga');

body {
  background: url('https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Main page styling*/
.col-lg-12 {
  padding: 0px;
}
/*Nav bar*/
.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.navbar-light .navbar-brand {
  color: whitesmoke;
  padding-left: 5px;
  font-family: 'Comfortaa', cursive;
}

nav {
  background-color: #35556a;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Profile picture and main div styling*/
.mainProfile {
  border-radius: 50%;
  height: 15rem;
  border: 3px solid #21363c;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainHeadline {
  text-align: center;
  text-emphasis: bold;
  font-family: 'Comfortaa', cursive;
  color: #3f4b4d;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.topRow {
  margin-top: 6rem;
}

.midRow {
  margin-top: 15px;
}

.test {
  display: block;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background: rgba(148, 149, 150, 0.671);
  border-radius: 5px;
}

h1 {
  font-family: "Homemade Apple", cursive;
  padding-top: 40px;
  padding-left: 15px;
  text-align: center;
  padding-bottom: 40px;
}

h2 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

/*Social media and page navigation buttons*/
.socialButtonsDiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95px;
}

.gitHubLink {
  height: 45px;
  width: 45px;
  background-color: #24292e;
  border-radius: 15%;
  border: 1px black solid;
  float: left;
}

.gitHubButton {
  font-size: 30px;
  padding: 5px 5px 5px 7.5px;
  width: 45px;
  text-align: center;
  color: white;
}

.linkedIn {
  height: 45px;
  width: 45px;
  background-color: #0274b3;
  border-radius: 15%;
  border: 0.05px black solid;
  float: right;
}

.linkedInButton {
  color: white;
  font-size: 30px;
  padding: 5px 5px 5px 9px;
  text-align: center;
}

.navigate-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.navigateButton {
  background-color: #f74c468e;
  color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}

/*Styling for About Me Section */
.profile2 {
  padding: 20px;
}

p.aboutMe {
  font-family: "Kalam", cursive;
  font-size: 25px;
  padding-right: 15px;
  padding-left: 15px;
}

/*Experience image styling*/
.experienceImg {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/*Profile Cards Styling*/
.card {
  margin-right: auto;
  margin-left: auto;
}
.col-lg-4 {
  padding-bottom: 20px;
}

/*Contact Information*/
.contactButton {
  background-color: #f74c468e;
  height: 45px;
  font-size: 30px;
  color: white;
  width: 200px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  margin-bottom: 25px;
}

.contactEmail {
  color: white;
}

.contactLinkedIn {
  color: white;
}

.contactGithub {
  color: white;
}

#Contact {
  margin-bottom: 8rem;
}

/*Link styling*/
a.navigateButton:hover {
  color: #24292e;
  text-decoration: none;
  background: rgba(148, 149, 150, 0.5);
}

a:hover {
  text-decoration: none;
  color: rgba(148, 149, 150, 0.5);
}

@media only screen and (max-width: 635px) {
  /* For mobile phones: */

  .navigateButton {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .carouselImage {
    height: auto;
    padding: 0rem;
  }

  p.aboutMe {
    font-size: 15px;
  }

  .experienceImg {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 990px) {

  /* For mobile phones: */
  p.aboutMe {
    font-size: 15px;
  }

  .experienceImg {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
}